  
mixin standartSlider(min, def, max)
  .standartSlider(data-minimum=min, data-default=def, data-maximum=max)
    .standartSlider_custom-handle.ui-slider-handle

mixin stepSlider(min, def, max, step)
  .step-slider(data-minimum=min, data-default=def, data-maximum=max, data-step=step)
    .step_Slider.ui-slider.ui-slider-handle.ui-slider-range
    .scale
      .scale_value 0
      .scale_value 25
      .scale_value 50
      .scale_value 75
      .scale_value 100



