mixin events(data)
  .events
    .events_image(data-eventsImage=data.pictureName)
    .events_content
      .events_content_date
        .events_content_date_day=data.eventDay
        .events_content_date_month=data.eventMouth
      .events_content_title(title=`${data.eventTitle}`)=data.eventTitle
      .events_content_text(title=`${data.eventText}`)=data.eventText
      .events_content_button
        +stButton({size: 'big', color: 'blue', value: 'add to calendar', type: 'button'})  