mixin percentages(value)
  div.percentages
    if value<0
      div.percentages_Value=('ERR. <0')
    else if value>100
      div.percentages_Value=('ERR. >100')
    else
      div.percentages_Value=(value)
      div.percentages_image
        svg.percentages_image_svg
          circle.percentages_image_svg_circle(transform="rotate(-90)",
            style="stroke-dasharray:" +value*2.83+"px 408px",
            r="45", cx="-50", cy="50")
