mixin events(data)
  .events
    .events__image(data-eventsImage=data.pictureName)
    .events__content
      .events__content-date
        .events__content-date-day=data.eventDay
        .events__content-date-month=data.eventMouth
      .events__content-title(title=`${data.eventTitle}`)=data.eventTitle
      .events__content-text(title=`${data.eventText}`)=data.eventText
      .events__content-button
        +standard-button({size: 'custom', color: 'blue-reverse', value: 'add to calendar', type: 'button'})  