mixin user-profile({imageName, userName, profession})
    -
        let image = require(`style/images/${imageName}`);

    .user-profile
        .user-profile__avatar(style=`background:url(${image}) no-repeat center / cover`)
            .user-profile__hidden-block
                div(class=`user-profile__info user-profile__info-${profession}`)
                    .user-profile__name= userName
                    .user-profile__position= profession
                    .user-profile__social-networks

                        a(href='#')
                            .user-profile__social-networks_facebook 
                        a(href='#')
                            .user-profile__social-networks_twitter 
                        a(href='#')
                            .user-profile__social-networks_dribbble 
