mixin user-profile(data)
    -
        let image = require(`style/images/${data.imageName}`);

    .user-profile
        .user-profile__avatar(style=`background:url(${image}) no-repeat center / cover`)
            .user-profile__hidden-block
                div(class=`user-profile__info user-profile__info-${data.profession}`)
                    .user-profile__name= data.userName
                    .user-profile__position= data.profession
                    .user-profile__social-networks

                        a(href='#')
                            .user-profile__social-networks_facebook 
                        a(href='#')
                            .user-profile__social-networks_twitter 
                        a(href='#')
                            .user-profile__social-networks_dribbble 
